<header class="header">
  <div class="container">
    <div class="border-block flex header__block">
      <a class="header__link btn" href="#">Go Back</a>
      <nav class="nav" title="Main Navigation">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Story</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Shop</a></li>
          <li class="nav__item">
            <a class="nav__link logo" href="index.html">
              <img
                class="logo__img"
                src="img/logo.svg"
                width="200"
                height="70"
                alt="Ujjo Logo"
              />
            </a>
          </li>
          <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Wholesale</a></li>
        </ul>
      </nav>
      <button class="btn header__btn">Clone</button>
    </div>
  </div>
</header>
