<section class="hero">
  <div class="container">
    <div class="border-block flex hero__block">
      <div class="hero__left">
        <div class="hero__ujjo">
          <img
            class="hero__img"
            src="img/ujjo.svg"
            width="697"
            height="424"
            alt="Ujjo Image"
          />
        </div>
        <div class="ticker hero__phrase">
          <div class="ticker__wrapper">
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/pepper.svg"
                w="68"
                height="31"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/pepper.svg"
                w="68"
                height="31"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/pepper.svg"
                w="68"
                height="31"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/pepper.svg"
                w="68"
                height="31"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/pepper.svg"
                w="68"
                height="31"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </div>
        <div class="hero__image">
          <picture>
            <source srcset="img/hero-image.webp" type="image/webp" />
            <img
              class="hero__img"
              src="img/hero-image.jpg"
              width="657"
              height="436"
              alt="Ujjo Pepper"
            />
          </picture>
        </div>
      </div>
      <div class="hero__right">
        <h1 class="hero__title">THE FIRST HOT SAUCE MADE FOR COFFEE</h1>
        <div class="hero__image-2">
          <picture>
            <source srcset="img/hero-image-2.webp" type="image/webp" />
            <img
              class="hero__img"
              src="img/hero-image-2.jpg"
              width="656"
              height="705"
              alt="Ujjo Pepper in a hand"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
