<div class="ticker-bottom">
  <div class="container">
    <div class="ticker-bottom__content">
      <div class="ticker ticker-bottom__phrase">
        <div class="ticker__wrapper">
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/pepper.svg"
              w="68"
              height="31"
              alt=""
              aria-hidden="true"
            />
            download our media kit
            <img
              class="ticker__icon"
              src="img/pepper.svg"
              w="68"
              height="31"
              alt=""
              aria-hidden="true"
            />
          </div>
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/pepper.svg"
              w="68"
              height="31"
              alt=""
              aria-hidden="true"
            />
            download our media kit
            <img
              class="ticker__icon"
              src="img/pepper.svg"
              w="68"
              height="31"
              alt=""
              aria-hidden="true"
            />
          </div>
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/pepper.svg"
              w="68"
              height="31"
              alt=""
              aria-hidden="true"
            />
            download our media kit
            <img
              class="ticker__icon"
              src="img/pepper.svg"
              w="68"
              height="31"
              alt=""
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
