:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1397px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --dark-color: #000;
  --light-color: #fff;
  --accent-color: #fb4b4d;
  --text-color: #222;
}
